@import '../../globalStyles/mixins.scss';

.choice-box-container {
  @include textBox;
  animation: pulse 2s infinite;
  width: 100px;
  height: 40px;
}

@keyframes pulse {
  //alpha channel of background colour should change
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0;
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
