@import './variables.scss';

@mixin container-desktop() {
  max-width: $max-width-desktop;
  display: grid;
  gap: 20px;
  margin: auto;
  margin-bottom: 40px;
  padding-top: 60px;

  @content;
}

@mixin container-mobile() {
  max-width: $max-width-mobile;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
  @content;
}

@mixin test-mixin() {
  border: solid purple;
  @content;
}

@mixin textBox() {
  color: white;
  background-color: blue;
  border: solid grey;
  font-family: Roboto;
  font-size: large;
  border-width: 8px;
  border-radius: 4px;
  height: fit-content;
}
