@import './variables.scss';

@font-face {
  font-family: 'joystixMonospace';
  src: url('../../public/assets/fonts/joystix-monospace.otf') format('opentype');
  /* You can also specify other font formats like woff, woff2, etc. */
}

@mixin container-desktop() {
  max-width: $max-width-desktop;
  margin: auto;
  margin-bottom: 40px;
  padding-top: 60px;

  @content;
}

@mixin container-mobile() {
  max-width: $max-width-mobile;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
  @content;
}

@mixin textBox() {
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'joystixMonospace', sans-serif;
  color: white;
  background-color: blue;
  border: solid grey;
  font-size: x-small;
  border-width: 8px;
  border-radius: 4px;
  height: fit-content;
}
