@import '../../globalStyles/mixins.scss';

.page-container {
  @include container-desktop;
  background-color: black;
  height: 100vh;
  border: solid red;
  .box {
    @include textBox;
    padding: 20px;
    margin: 20px;
  }
}
